header {
  flex-grow: 0;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 15vw;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5vw;
  align-items: center;
}

nav > a {
  text-decoration: none;
  color: rgb(73, 94, 87);
}

nav > a:hover {
  color: rgb(98, 132, 121);
}

main {
  height: 100vh;
}

.hero {
  height: 50vh;
  background-color: rgb(73, 94, 87);
  padding: 0 15vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero > img {
  width: 50%;
  align-self: center;
  justify-self: end;
}

.hero-text-container {
  padding-top: 1.5rem;
}

.hero-text-container button {
  margin-top: 1rem;
  width: 8rem;
  height: 2rem;
  border: none;
  border-radius: 16px;
  font-weight: 700;
  box-shadow: 1px 2px 2px rgb(33, 45, 38);
  cursor: pointer;
}

footer {
  padding: 1rem 20vw;
  background-color: rgb(73, 94, 87);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer > small {
  align-self: center;
  justify-self: center;
  color: rgb(239, 237, 238);
}