header {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 4rem;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}

nav > a {
  text-decoration: none;
  color: rgb(73, 94, 87);
  font-size: 1.75rem;
}
