header {
  flex-grow: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  gap: 40vw;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5vw;
  align-items: center;
}

nav > a {
  text-decoration: none;
  color: rgb(73, 94, 87);
  font-size: 1.75rem;
}

main {
  background-color: rgb(73, 94, 87);
  height: 100%;
}

footer {
  padding: 7.5rem;
}